<html>
	<head>
		<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/Game.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			.stationPriceBadge {
				text-align: right;
				margin-right: 10px;
			}
			.stationName {
				text-align: center;
			}
			.stationCardButton {
				width:100%;
			}
		</style>
	</head>
	<body onload="initView()">
		<div class="container">
			<h1>Project Hawker</h1>
			
			<!-- Game and Currrent Player -->
			<div class=row>
				<div class="col-sm-7">
					<h2>Game</h2>
					<table class="table">
						<tr>
							<td>Number of Players</td>
							<td id="nPlayers"></td>
						</tr>
						<tr>
							<td>Round</td>
							<td id="round"></td>
						</tr>
						<tr>
							<td>Step</td>
							<td id="step"></td>
						</tr>
						<tr>
							<td>Phase</td>
							<td id="phase"></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-5">
					<h2>Current Player</h1>
					<table class="table">
						<tr>
							<td>Name</td>
							<td id="playerName"></td>
						</tr>
						<tr>
							<td>Money</td>
							<td id="playerMoney"></td>
						</tr>
					</table>
				</div>
			</div>
			<button id="startGameButton" class="btn" onclick="startGame()">Start Game</button>

			<hr>
			
			<div id="marketSection">
				<h2>Market Section</h2>
				<!-- Stalls  -->
				<h3>Current Market</h3>
				<div class="row" id="currentMarket">
					<!-- <div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<h4 class="stationPriceBadge">10</h4>
							<img style="width: 100%; height: 200px; padding-left: 10px; padding-right: 10px;">
							<div class="caption">
								<h3 class="stationName">#Name</h3>
								<p id="stationUpkeep">Resources Needed : </p>
								<p id="stationProduction">Production : </p>
								<p>
									<button class="btn btn-primary stationCardButton">Choose</button>
								</p>
							</div>
						</div>
					</div> -->
				</div>
				<h3>Future Market</h3>
				<div class="row" id="futureMarket">
				</div>
			</div>

			<div id="auctionSection">
				<h2>Auction Section</h2>
				<div class="row" id="auctionStationCard">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<h4 class="stationPriceBadge">10</h4>
							<img style="width: 100%; height: 200px; padding-left: 10px; padding-right: 10px;">
							<div class="caption">
								<p id="stationUpkeep">Resources Needed : </p>
								<p id="stationProduction">Production : </p>
								<p>
									<button class="btn btn-primary stationCardButton">Choose</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-8">
						<h4 style="text-align: center;">Current Bid</h4>
						<h3 style="text-align: center" id="latestBidAmount">10</h3>
						<h4 style="text-align: center; font-style: italic;" id="bidderName">(N/A)</h4>
						<form class="form">
							<div class="form-group">
							<label for="bidAmount">Your Bid Amount</label>
							<input type="number" class="form-control" id="bidAmount" min=10 value=10>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<button class="btn btn-success" type="button" onclick="placeBid()" style="width:100%;">Confirm</button>
								</div>
								<div class="col-xs-6">
									<button class="btn btn-danger" type="button" onclick="passBid()" style="width:100%;">Pass</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Resources  -->
			<div class="row">
			</div>

			<!-- Cities  -->
			<div class="row">
			</div>
		</div>
	</body>
</html>